.sidebar-container {          
    height: 70vh;
    width: 40rem; 
    background: #fafafa;
    border-left: 1px solid #ccc;   /* 👉 border on left now */
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15); /* 👉 shadow reversed */
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    overflow-y: scroll;

  }
  
  .sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    border-bottom: 1px solid #ddd;
    background: #fff;
  }
  
  .sidebar-content {
    padding: 1rem;
    height: 100%;
  }
  